<!-- Sidebar -->
<% if(user){ %>
  <div class="border-dark" id="sidebar-wrapper">
    <div class="sidebar-heading"><h4><%= user.name %></h4></div>
    <div class="list-group list-group-flush">
      <a href="/my_gym" class="list-group-item list-group-item-action">My GYM</a>
    </div>
  </div>
<% } %>
<!-- /#sidebar-wrapper -->
