<!DOCTYPE html>
<html>
  <% include partials/headerr.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <br>
    <h1 class="aaa"><%= title  %></h1>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <% include partials/footer.ejs %>
  </body>
  <% include partials/scripts.ejs %>
</html>
