<!DOCTYPE html>
<html>
  <% include partials/header.ejs %>

  <head>
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style1.css" type="text/css">
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <% include partials/sidebar.ejs %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% include partials/nav.ejs %>
        
         <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
  </div>
  
  <!-- Top Social End -->
  <!-- Hero Slider Section Begin -->
  <section class="hero-slider">
      <div class="slide-items owl-carousel">
          <div class="single-slide set-bg active" data-setbg="images/bg.jpg">
              <a href="https://www.youtube.com/watch?v=SEVuD_djKrU"></a>
              <h1 style="padding: 0px">Welcome to </h1>
              <!-- <a href="#" class="primary-btn">Read More</a> -->
          </div>
          <div class="single-slide set-bg" data-setbg="images/bg-2.jpg">
              <a href="https://www.youtube.com/watch?v=SEVuD_djKrU"></i></a>
              <h1>BodyFitnessCenters</h1>
              <!-- <a href="#" class="primary-btn">Read More</a> -->
          </div>
          <div class="single-slide set-bg" data-setbg="images/bg-3.jpg">
              <a href="https://www.youtube.com/watch?v=SEVuD_djKrU"></a>
              <h1>Myanmar</h1>
              <!-- <a href="#" class="primary-btn">Read More</a> -->
          </div>
      </div>
  </section>
  <!-- Hero Slider End -->
  <!-- Features Section Begin -->
  <section class="features-section spad">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="single-features">
                      <div class="features-img">
                          <img src="images/features/feature-1.jpg" alt="">
                      </div>
                      <div class="feature-text">
                          <div class="feature-icon">
                              <img src="images/features/icon-1.png" alt="">
                          </div>
                          <h5>Amazing Setting</h5>
                          <p>A rep is the number of times you perform a specific exercise, 
                              and a set is the number of cycles of reps that you complete. 
                              For example, suppose you complete 15 reps of a bench press. 
                              You would say you've completed "one set of 15 reps."</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-features">
                      <div class="features-img">
                          <img src="images/features/feature-2.jpg" alt="">
                      </div>
                      <div class="feature-text">
                          <div class="feature-icon">
                              <img src="images/features/icon-2.png" alt="">
                          </div>
                          <h5>Best Trainers</h5>
                          <p>Given the range of activities you can do at the gym, 
                              there’s no one shoe that’s perfect for everything, 
                              so it’s important to consider what exercise you actually do. 
                              If you’re a weightlifter, you’ll want a shoe that has a stable base and heel support, 
                              and it might also have a raised heel to help you drop deep into exercises such as squats..</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-features">
                      <div class="features-img">
                          <img src="images/features/feature-3.jpg" alt="">
                      </div>
                      <div class="feature-text">
                          <div class="feature-icon">
                              <img src="images/features/icon-3.png" alt="">
                          </div>
                          <h5>Diet Plans</h5>
                          <p>It's best to eat a large meal at least a few hours before going to workout, 
                              Arent said. Ideally,such meals should combine lean protein and plenty of carbohydrates. 
                              Depending on the time of day, meals might include rice, pasta, chicken, fish, peanut butter 
                              and other healthy foods.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Features Section End -->
  <!-- Services Section Begin -->
  <section class="services-section spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="section-title">
                      <span>Features</span>
                      <h2>Services</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single-service">
                      <img src="images/icon-1.png" alt="">
                      <h5>Pilates</h5>
                      <p style="color: white">Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                          pretium.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-service c-text">
                      <img src="images/icon-2.png" alt="">
                      <h5>Free Lifting</h5>
                      <p style="color: white">Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                          pretium.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-service">
                      <img src="images/icon-3.png" alt="">
                      <h5>Yoga</h5>
                      <p style="color: white">Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                          pretium.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single-service">
                      <img src="images/icon-4.png" alt="">
                      <h5>Spinning</h5>
                      <p style="color: white">Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                          pretium.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Services Section End -->
  <!-- Trainer Section Begin -->
  <section class="trainer-section set-bg" data-setbg="images/trainer-bg.svg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="section-title">
                      <span>The Most</span>
                      <h2>Trainers</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="single-trainer">
                      <div class="trainer-img">
                          <img src="images/trainer/trainer-1.jpg" alt="">
                      </div>
                      <div class="trainer-text">
                          <h5>Rachel Smith <p style="color: white">yoga Instructor</p></h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-trainer">
                      <div class="trainer-img">
                          <img src="images/trainer/trainer-2.jpg" alt="">
                      </div>
                      <div class="trainer-text">
                          <h5>Micheal Williams <p style="color: white">Aerobics Instructor</p></h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-trainer">
                      <div class="trainer-img">
                          <img src="images/trainer/trainer-3.jpg" alt="">
                      </div>
                      <div class="trainer-text">
                          <h5>James Brown <p style="color: white">Lifting Instructor</p></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Traniner Section End -->
  <!-- Upcoming Event Begin -->
  <footer class="footer-section set-bg" data-setbg="images/footer-bg.jpg">
                  <div class="footer-content">
                      <div class="copyright">
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Prepared By Yan Aung Shin (VI-BT-IT) Technological University Pathein 2018-2019 <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://google.com" target="_blank">yanaungshin</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </div>
                  </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Js Plugins -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/circle-progress.min.js"></script>
  <script src="js/jquery.barfiller.js"></script>
  <script src="js/main1.js"></script>

      </div>
    </div>
  </div>
    <% include partials/footer.ejs %>
  </body>
  <% include partials/scripts.ejs %>
</html>
