<!DOCTYPE html>
<html>
  <% include ../partials/header.ejs %>
  <body>
    <div class="d-flex" id="wrapper">
      <% include ../partials/sidebar.ejs %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container-fluid">

          <h1><%= title %></h1>

          <form action="/centers/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlInput1">Center Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="centername">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">City</label>
              <select type="text" class="form-control" name="city">
                <option value="yangon">Yangon</option>
                <option value="mandalay">Mandalay</option>
                <option value="naypyitaw">Naypyitaw</option>
                <option value="bago">Bago</option>
                <option value="mawlamyine">Mawlamyine</option>
                <option value="taunggyi">Taunggyi</option>
                <option value="pyay">Pyay</option>
                <option value="mrauk-u">Mrauk-U</option>
                <option value="mongwa">Mongwa</option>
                <option value="sittwe">Sittwe</option>
                <option value="taunggo">Taunggo</option>
                <option value="pathein">Pathein</option>
                <option value="myeik">Myeik</option>
                <option value="kalaw">Kalaw</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Address</label>
              <input type="text" class="form-control" id="exampleFormControlInput2" name="address">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">phone</label>
              <input type="number" class="form-control" id="exampleFormControlInput3" name="phone">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Open time</label>
              <input type="time" class="form-control" id="exampleFormControlInput4" name="opttime">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Close time</label>
              <input type="time" class="form-control" id="exampleFormControlInput5" name="closetime">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Month Member fees</label>
              <input type="nember" class="form-control" id="exampleFormControlInput6" name="memberfees">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Daily Member fees</label>
              <input type="nember" class="form-control" id="exampleFormControlInput7" name="dailymemberfees">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Year Member fees</label>
              <input type="nember" class="form-control" id="exampleFormControlInput8" name="yearmemberfees">
            </div>
            <div class="form-group">
              <label for="photo">Photo:</label>
              <input type="file" name="artphoto" accept="image/*"><p></p>
            </div>
            <div class="from-group">
              <label for="exampleFormControlInput1">Select Class</label>
              <input type="checkbox" name="classes" value="yoga">Yoga
              <input type="checkbox" name="classes" value="kickboxing">Kickboxing
              <input type="checkbox" name="classes" value="personaltraining">Personal Training
              <input type="checkbox" name="classes" value="zumba">Zumba
              <input type="checkbox" name="classes" value="Kilocycle">Kilocycle
              <input type="checkbox" name="classes" value="barre-less-barre">Barre-less-barre
              <input type="checkbox" name="classes" value="dance">Cardio funk Dance Party

            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Promotion</label>
              <select class="mdb-select md-form" multiple name="promotion">
                <option value="3Months Play+ 1Month Free" disabled selected>3months Play+ 1Month Free</option>
                <option value="2Months Play+ 1Month Free" name="promotion">2months play+ 1month Free</option>
                <option value="5members play+ 1member Free" name="promotion">5members play+ 1member Free</option>
                <option value="4mambers play+ 1member Free" name="promotion">4mambers play+ 1member Free</option>
              </select>
            </div>
            <div class="form-group">
              <label for="discount">Discount</label>
              <input type="nember" class="form-control" id="exampleFormControlInput9" name="discount">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Other Infomation</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="otinfo">
              </textarea>
            </div>
            <button type="submit">Add Center</button>
          </form>

        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
  <% include ../partials/scripts.ejs %>
</html>
