<!DOCTYPE html>
<html>
  <% include ../partials/header.ejs %>
  <body>
    <div class="d-flex" id="wrapper">
      <% include ../partials/sidebar.ejs %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container-fluid">

          <h1><%= title %></h1>

          <form action="/trainers/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlInput1">Trainer Name</label>
              <input type="text" class="form-control" id="trainername" name="trainername">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Address</label>
              <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">phone</label>
              <input type="number" class="form-control" id="pone" name="phone">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Age</label>
              <input type="number" class="form-control" id="age" name="age">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Select Certificate</label>
              <select class="mdb-select md-form" multiple name="certificate">
                <option value="" disabled selected>Chose Trainer Certificate</option>
                <option value="nasm" name="certificate">NASM</option>
                <option value="issa" name="certificate">ISSA</option>
                <option value="ace" name="certificate">ACE</option>
                <option value="acsm" name="certificate">ACSM</option>
                <option value="nsca" name="certificate">NSCA</option>
              </select>
            </div>
            <div class="form-group">
              <label for="photo">Photo:</label>
              <input type="file" name="photo" id="photo" accept="image/*"><p></p>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Trainer fees</label>
              <input type="nember" class="form-control" id="trainerfees" name="trainerfees">
            </div>
            <div class="form-group">
              <label for="photo">Photo:</label>
              <input type="file" name="photo" id="photo" accept="image/*"><p></p>
            </div>
            <div class="form-group">
              <label>Select Gym</label>
              <select class="mdb-select md-form" multiple name="gym">
                <% if (centers && centers.length > 0) { %>
                  <% centers.forEach(function(center) { %>
                        <option value="<%= center._id %>"> <%= center.centername %></option>
                  <% }); %>
                <% } else { %>
                  <h1 style="text-align:center;"> Sorry ! No Centers !</h1>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Select Class</label>
              <select class="mdb-select md-form" multiple name="classes">
                <option value="" disabled selected>Choose your Class</option>
                <option value="yoga" name="classes">Yoga</option>
                <option value="kickboxing" name="classes">Kickboxing</option>
                <option value="personaltrainer" name="classes">Personal Training</option>
                <option value="zumba" name="classes">Zumba</option>
                <option value="kilocycle" name="classes">Kilocycle</option>
                <option value="barre-less-barre" name="classes">Barre-less-barre</option>
                <option value="dance" name="classes">Cardio funk Dance Party</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Trainer Informations</label>
              <select class="mdb-select md-form" multiple name="trainfo">
                <option value="" disabled selected>Select Informations</option>
                <option value="industry skill" name="trainfo">Indystry skill</option>
                <option value="energy and comitement" name="trainfo">Energy and Commitement</option>
                <option value="demon passion" name="trainfo">Demonstrable passion</option>
                <option value="personal" name="trainfo">Personal</option>
                <option value="NSCA" name="trainfo">NSCA</option>
              </select>
            </div>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
  <% include ../partials/scripts.ejs %>
</html>
