<!DOCTYPE html>
<html>
  <% include ../partials/header.ejs %>
  <body>
    <div class="d-flex" id="wrapper">
      <% include ../partials/sidebar.ejs %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% include ../partials/nav.ejs %>
          <div class="container-fluid">
            <div class="row d-flex justify-content-center">
              <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                  <h1 class="mb-10">Our Experienced Trainers</h1>
                  <p>Who are in extremely love with eco friendly system.</p>
                </div>
              </div>
            </div>
              <% if (trainers) { %>
                      <div class="container">
                          <div class="row">
                            <% trainers.forEach(function(trainer) { %>
                              <div class="col-md-4">
                                  <div class="single-trainer">
                                      <div class="trainer-img">
                                        <% if (trainer.traphoto) { %>
                                          <img src="<%= trainer.traphoto %>" alt="">
                                          <% } else { %>
                                            <img src="../images/noimage.svg" class="img-responsive" alt="no image">
                                          <% } %>
                                      </div>
                                      <div class="trainer-text">
                                          <p><a href="/trainers/<%=trainer._id%>"> <%= trainer.trainername %></a></p>
                                      </div>
                                  </div>
                              </div>
                              <% }); %>
                          </div>
                      </div>
                      <% } else { %>
                        <h3><%= title %></h3>
                      <% } %>
            </div>
          </div>
    </div>
  </div>
    <% include ../partials/footer.ejs %>
  </body>
  <% include ../partials/scripts.ejs %>
</html>
